<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Vue Todo List</title>
  <style>
    .completed{
      text-decoration: line-through;
    }
  </style>
</head>
<body>
  <div id="app">
    <ul>
      <input type="text" v-model="newTodo" v-on:keyup.enter="addTodo">
      <li v-if="!todos.length">Belum ada tugas</li>
      <li v-for="todo in todos">
        <span v-bind:class="{'completed': (typeof todo.done === 'string') ?  parseInt(todo.done) : todo.done }"> {{ todo.text }} </span>
        <button v-on:click="removeTodo($index, todo.id_date)">X</button>
        <button v-on:click="toggleC(todo)"> DONE </button>
      </li>
    </ul>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.28/vue.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.5.1/vue-resource.min.js"></script>
  <script>
    new Vue({
      el: '#app',
      data: {
        newTodo : '',
        todos   : [],
        done    : false
      },
      methods: {
        addTodo : function(){
          var newItem = this.newTodo.trim()
          if (newItem) {
            this.todos.push({text: newItem, done:false})
            this.newTodo = ''
          }

          this.$http({
            url   : 'api/index.php',
            method: 'POST',
            body  : {
              text : newItem,
              done : false,
              date : Date.now()
            },
          }).then((response) => {
            console.log(response)
          })

        },
        removeTodo: function(index, id_date){
          this.todos.splice(index, 1)
          this.$http({
            url    : 'api/index.php?id=' + id_date,
            method : 'DELETE'
          }).then((response) => {
            //kalo request success mau ngapain
          })
        },
        toggleC: function(todo){
          (todo.done == 0) ? todo.done = false : true
          todo.done = !todo.done
          this.$http({
            url    : 'api/index.php?id=' + todo.id_date + '&done=' + todo.done,
            method : 'PATCH'
          }).then((response) => {
            //kalo request success mau ngapain
          })
        }
      },
      ready: function(){
        this.$http({
          url   : 'api/index.php',
          method: 'GET',
        }).then((response) => {
          // console.log(response.data)
          this.todos = response.data
        })
      }
    })
    //allow send data to backend
    Vue.http.options.emulateJSON = true;
  </script>
</body>
</html>
